body { color: #272727;background-color : #ffffff;background-image: url(images/tile.gif); font-size: 12px; font-family: /*"lucida sans unicode",*/Verdana, Arial, Helvetica, sans-serif; margin: 0px; padding: 0px;}

table {width: 100%;text-align: left;}
table.toptable , table.maintable , table.footertable{width: 90%;margin-left: auto;margin-right: auto;}
table td {padding: 0; border-width: 0; vertical-align: top;font-size: 12px;font-family: /*"lucida sans unicode",*/Verdana, Arial, Helvetica, sans-serif;}

table.maintable {height:600px; color : #ffffff;}
table.toptable {border-left: 6px solid #FFFFFF;border-right: 6px solid #FFFFFF;background-color: #000000;border-top: 6px solid #FFFFFF;border-bottom: 8px solid #FFFFFF;}
div {font-size: 12px;}

a {color: white; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: red;}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}

input.formButton {}

div.wrapper { text-align: center; }

.item {border: 1px solid #cccccc;}
.itemHead {padding: 3px; background-color: #2F5376; color: #FFFFFF;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

th {background-color: #2F5376; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#headerbanner {width: 100%; background-color: #000000;height:204px; vertical-align: middle; text-align:center;}

div.title a {color: #FFFFFF;font-size: 220%;padding-top: 250px;padding-left: 5px;}
div.title a:hover {color: #FFFFFF; font-size: 220%;padding-top: 250px;padding-left: 5px;}
div.page {color: #FFFFFF;font-size: 150%; text-align: right; padding-right: 350px;}

td#leftcolumn {width: 170px;background-color: #8C8C8C; font-size:12px;border-left: 6px solid #FFFFFF;border-bottom: 6px solid #FFFFFF;border-right: 3px solid #FFFFFF;}
td#leftcolumn th {background-color: #DE8900; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding-top: 10px;font-size: 120%; background-image: url(images/left.gif);background-repeat: repeat-x;text-align: center; height:30px; color: #FFFFFF; font-weight: bold;}
td#leftcolumn div.blockContent {padding: 3px; line-height: 120%; line-height: 120%;}
td#leftcolumn div.blockContent:hover  {padding: 3px; line-height: 120%; line-height: 120%;background-color: #EDBF00}


#centercolumn {font-size: 12px;background-color: #8C8C8C;border-right: 6px solid #FFFFFF;border-bottom: 6px solid #FFFFFF;}
#centercolumn th {background-color: #DE8900; color: #FFFFFF; vertical-align: middle;font-size: 120%;height: 30px;}

#centerCcolumn {padding: 0px 3px 1px 3px;}
#centerCcolumn div.blockTitle {border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px;padding-left:10px; color: #FFFFFF;background-image: url(images/cent.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#centerCcolumn .blockContent {padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}
#centerCcolumn .blockContent:hover {background-color: #00B4E7;padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}

#centerLcolumn {padding: 0px 3px 1px 3px;}
#centerLcolumn div.blockTitle {text-align: center;border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px; color: #FFFFFF;background-image: url(images/center.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#centerLcolumn .blockContent {padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}
#centerLcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#C6E535'; this.style.color='#7D7D7C';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#centerLcolumn .blockContent:hover {
        background-color: #C6E535;
        color: #7D7D7C;
    }
#centerRcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#C6E535'; this.style.color='#7D7D7C';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#centerRcolumn .blockContent:hover {
        background-color: #C6E535;
        color: #7D7D7C;
    }
#centerCcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#00B4E7'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#centerCcolumn .blockContent:hover {
        background-color: #00B4E7;
        color: #fff;
    }
#bottomCcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#00B4E7'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#bottomCcolumn .blockContent:hover {
        background-color: #00B4E7;
        color: #fff;
    }
#leftcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#EDBF00'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#leftcolumn .blockContent:hover {
        background-color: #EDBF00;
        color: #fff;
    }
#bottomLcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#C75580'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#bottomLcolumn .blockContent:hover {
        background-color: #B64E75;
        color: #fff;
    }
#bottomRcolumn .blockContent {
        background-color: #8C8C8C;
        color: #fff;
        h: expression(onmouseover=new Function("this.style.backgroundColor='#B64E75'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#8C8C8C'; this.style.color='#fff';"));
    }
#bottomRcolumn .blockContent:hover {
        background-color: #B64E75;
        color: #fff;
    }
#centerRcolumn {padding: 0px 3px 1px 3px;}
#centerRcolumn div.blockTitle {text-align: center;border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px; color: #FFFFFF;background-image: url(images/center.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#centerRcolumn .blockContent {padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}
#centerRcolumn .blockContent:hover {color: #7D7D7C;background-color: #C6E535; padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}

#bottomCcolumn {padding: 0px 3px 1px 3px;}
#bottomCcolumn div.blockTitle {border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px;padding-left:10px; color: #FFFFFF;background-image: url(images/cent.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#bottomCcolumn .blockContent {border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}
#bottomCcolumn .blockContent:hover {background-color: #00B4E7;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}

#bottomLcolumn {padding: 0px 3px 1px 3px;}
#bottomLcolumn div.blockTitle {text-align: center;border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px; color: #FFFFFF;background-image: url(images/grena.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#bottomLcolumn .blockContent {padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}

#bottomRcolumn {padding: 0px 3px 1px 3px;}
#bottomRcolumn div.blockTitle {text-align: center;border-left: 3px solid white;border-right: 3px solid white;border-top: 3px solid white;font-size: 120%;padding-top: 10px; color: #FFFFFF;background-image: url(images/grena.gif);background-repeat: repeat-x; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;height:30px;}
#bottomRcolumn .blockContent {padding: 3px; line-height: 120%;border-left: 3px solid white;border-right: 3px solid white;border-bottom: 3px solid white;}

div#content {text-align: left; padding: 8px;}

td#rightcolumn {width: 150px; text-align: center;}

td#footerbar {text-align:center;color: #ffffff;}
td#footerbar a{color: silver;}
td#footerbar a:hover {color: #8bc3fc;}

td#mainmenu a {display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {}
td#mainmenu a.menuTop {padding-left: 3px; }
td#mainmenu a.menuMain {padding-left: 3px; }
td#mainmenu a.menuSub {padding-left: 9px; }

td#usermenu a {display: block; margin: 0; padding: 4px;}
td#usermenu a:hover {}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}



.outer {border: 3px solid white;}
.head {background-color: #BD517A; padding: 5px; font-weight: bold;}
.even {background-color: #00B1E5; padding: 5px;}
.odd {background-color: #9EC2DB; padding: 5px;}
.foot {background-color: #BD517A; padding: 5px; font-weight: bold;}
tr.even td {background-color: #00B1E5; padding: 5px;}
tr.odd td {background-color: #9EC2DB; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}

img {border: 0px;}
img#swap {width: 25px;height: 20px;}

#rightcolumn {display: block;}

